/* Cuprum normal */

@font-face {
	font-family: 'Cuprum';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/cuprum.woff2') format('woff2'),
	     url('../fonts/cuprum.woff') format('woff');
}

/* Cuprum bold */

@font-face {
	font-family: 'Cuprum';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/cuprumbold.woff2') format('woff2'),
	     url('../fonts/cuprumbold.woff') format('woff');
}

/* Cuprum bold italic */

@font-face {
	font-family: 'Cuprum';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
	     url('../fonts/cuprumbolditalic.woff') format('woff');
}

/* Cuprum italic */
@font-face {
	font-family: 'Cuprum';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('../fonts/cuprumitalic.woff2') format('woff2'),
	     url('../fonts/cuprumitalic.woff') format('woff');
}

/* Pt Sans normal  */
@font-face {
	font-family: 'PT Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/ptsans.woff2') format('woff2'),
	     url('../fonts/ptsans.woff') format('woff');
}

/* Pt Sans bold  */
@font-face {
	font-family: 'PT Sans';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/ptsansbold.woff2') format('woff2'),
	     url('../fonts/ptsansbold.woff') format('woff');
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
	background-color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header */
.main-header {
	background-color: #f3f7f8;
	width: 100%;
	padding-bottom: 60px;
}

.header-top-wrapper {
	background-color: #293449;
	margin-bottom: 46px;
	min-height: 42px;
}

.header-top-row {
	display: flex;
	align-items: flex-start;
}

.header-logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 42px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.header-logo-link:hover {
	background-color: #ca2c37;
}

.header-logo-link:active {
	background-color: #ba2732;
}

.search {
	position: relative;
}

.search-input {
	width: 270px;
	height: 42px;
	padding-left: 49px;
	background-color: #293448;
	border: none;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
}

.search-input::placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.search-input:hover ~ .search-btn .search-icon {
	fill: #fff;
}

.search-input:focus {
	background-color: #fff;
	outline: none;
	color: #000;
}

.search-input:focus ~ .search-btn .search-icon {
	fill: #ee3643;
}

.search-btn {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 0;
	left: ;
	border: none;
	background: transparent;
	fill: rgba(255, 255, 255, 0.5);
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.search-icon {
	width: 17px;
	height: 17px;

}

.bookmark-link,
.basket-link {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	display: block;
	position: relative;
	text-align: left;
}

.bookmark-link {
	padding: 12px 28px 12px 44px;
}

.basket-link {
	width: 150px;
	padding: 12px 22px 12px 44px;
}

.basket-full {
	padding: 12px 22px 12px 44px;
	background-color: #ee3643;
}

.bookmark-link::before,
.basket-link::before {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: 17px;
	width: 14px;
	height: 16px;
}

.bookmark-link::before {
	background-image: url('../img/icons/icon-bookmark.svg');
	background-repeat: no-repeat;
}

.basket-link::before {
	background-image: url('../img/icons/icon-cart.svg');
	background-repeat: no-repeat;
}

.btn-order {
	background-color: #63a63e;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	padding: 12px 22px 12px 20px;
	margin-left: auto;
}

.btn-order:hover {
	background-color: #5fbb2d;
}

.btn-order:focus {
	background-color: #518534;
	outline: none;
}

.btn-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.user-navigation-row {
	display: flex;
	align-items: flex-start;
	margin-bottom: 44px;
}

.page-title {
	width: 300px;
	margin: 0;
	padding-left: 54px;
	padding-right: 36px;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: 400;
}

.navigation-contacts {
	display: flex;
	flex-direction: column;
}

.phone-number {
	position: relative;

	width: 270px;
	padding: 9px 45px 9px 74px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #fff;
}

.phone-number::before {
	content: '';
	position: absolute;
	display: block;
	width: 19px;
	height: 19px;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	background-image: url('../img/icons/icon-phone.svg');
	background-repeat: no-repeat;
}

.address {
	width: 250px;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-left: 10px;
}

.user-link {
	position: relative;
	color: #000;
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	padding: 12px 32px 12px 50px;
}

.user-link::before {
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url('../img/icons/icon-login.svg');

}

.user-link:hover {
	color: #ee3643;
}

.user-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-link:focus {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.login-link {
	margin-left: auto;
}

.registration-link {
	color: #000;
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	margin-left: 10px;
	padding: 12px 24px 12px 24px;
}

.registration-link::before {
	background-image: none;
}

.person-container {
	margin-left: auto;
}

.person-link {
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	color: #000;
	padding: 12px 66px 12px 48px;
	width: 300px;
	display: block;
	position: relative;
}

.person-link::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
	background-image: url('../img/icons/icon-user.svg');
	background-repeat: no-repeat;
	width: 20px;
	height: 18px;
}

.person-link::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	background-image: url('../img/icons/icon-logout.svg');
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
}

.order-link {
	padding-left: 18px;
	padding-right: 18px;
	position: relative;
}

.order-link::after {
	content: '';
	display: block;
	width: 4px;
	height: 5px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-image: url('../img/icons/icon-dot.png');
	background-repeat: no-repeat;
}

.parlour-link {
	padding-left: 13px;
}

.order-link,
.parlour-link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
	display: inline-block;
	vertical-align: top;
}

.order-link:hover,
.parlour-link:hover {
	color: #ee3643;
}

.order-link:focus,
.parlour-link:focus {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.order-link:active,
.parlour-link:active {
	color: rgba(0, 0, 0, 0.3);
}


.site-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #32425c;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	color: #fff;
	display: block;
	padding: 22px 31px 26px 31px;
	font-size: 17px;
	line-height: 17px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.site-navigation a:focus {
	background-color: #1d2739;
}

/* MAIN */

.main {
	padding-top: 59px;
	padding-bottom: 86px;
}

/* offers */
.offers-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
}

.offers-btn {
	font-size: 14px;
	line-height: 18px;
}


/*slider */
.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 600;
	text-transform: uppercase;
}

.slider-item span {
	font-size: 18px;
	line-height: 24px;
}

.slider-dots {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* BREADCRUMBS */
.breadcrumbs {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs-item {
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.breadcrumbs a,
.breadcrumbs-current {
	color: #000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.main-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	background-color: #f2f6f8;
	text-transform: uppercase;
}

/* FILTER */

.main-filter-row {
	display: flex;
}

.filters {
	width: 220px;
	margin-right: 20px;
}

.filter-title {
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.range-input::value {
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #000;
	font-size: 17px;
	line-height: 18px;
}

.brands-list,
.power-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.brands-list label,
.power-list label {
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
}

.filter-option {
	padding-left: 34px;
	margin-bottom: 17px;
}

.filter-option label {
	user-select: none;
	display: block;
	position: relative;
	cursor: pointer;
}

.filter-input-checkbox + label::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 23px;
	height: 23px;
	border: 2px solid #c5c5c5;
	border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 27px;
	height: 23px;
	background: url('../img/icons/checkbox-on.svg') no-repeat 0 0;
}

.filter-input-radio + label::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	border: 3px solid #c5c5c5;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -27px;
	transform: translateY(-50%);
	border: 5px solid #c5c5c5;
	border-radius: 50%;
}

.filter-input:disabled + label {
	color: #000;
	opacity: 0.5;
}

.btn-show {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	padding: 10px 39px 9px 39px;
	width: 140px;
	margin-top: 75px;
}




/* POPULAR PRODUCTS */
.popular-products-title {
	background-color: #f9f5f0;
	display: flex;
	align-items: center;
}

.popular-products h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	margin-right: 373px;
	padding-left: 30px;
	padding-top: 29px;
	padding-bottom: 30px;
}

.popular-products-btn {
	padding: 10px 55px;

}

.popular-products-items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}



/* SORTING */
.product-list-column {
	width: 700px;
}

.sorting {
	width: 700px;
	background-color: #f7f3ec;
}

.sorting-title {
	text-transform: uppercase;
}

.sorting-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.by-price {
	color: #ee3643;
}

.by-type,
.by-functionality {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
}

.by-price,
.by-type,
.by-functionality {
	text-transform: uppercase;
}











/* PRODUCT LIST */
.catalog-items {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	width: 220px;
	min-height: 318px;
	border: 1px solid #e5e5e5;
	margin-top: 20px;

	position: relative;
}

.catalog-item .actions {
	display: none;
}

.catalog-item:hover .actions {
	display: block;
}

.catalog-item-flag {
	background: url('../img/new flag.png') no-repeat 0 0;
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 59px;
	text-indent: -1000px;
	overflow: hidden;
}

.actions {
	width: 135px;
	position: absolute;
	top: 44px;
	left: 41px;
}

.actions .buy,
.actions .bookmarks {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	width: 135px;
}

.actions .buy {
	color: #fff;
	background-color: #63a63e;
	margin-bottom: 7px;
	padding: 10px 49px 10px 45px;
	position: relative;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.actions .buy:hover {
	background-color: #5fbb2d;
}

.actions .buy:active {
	background-color: #518534;
	box-shadow: none;
}

.actions .buy:focus {
	background-color: #518534;
}

.actions .buy::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background: url('../img/icons/icon-cart.svg') no-repeat 0 0;
}

.actions .bookmarks {
	color: #32425c;
	background-color: #fff;
	border: 3px solid #63a63e;
	width: 135px;
	padding: 7px 25px 7px 36px;
}

.actions .bookmarks:hover {
	border-color: #32425c;
}

.actions .bookmarks:active {
	border-color: ;
	color: rgba(50, 66, 92, 0.3);
}

.actions .bookmarks {
	color: rgba(50, 66, 92, 0.3);
}

.image {
	width: 218px;
	height: 170px;
	margin-bottom: 12px;
}

.image img {
	max-width: 100%;
}

.catalog-item .title {
	margin: 0;
	width: 155px;
	margin-bottom: 15px;
	margin-left: 32px;
	min-height: 33px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.catalog-item .discount,
.catalog-item .price {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.catalog-item .discount {
	color: #999;
	text-decoration: line-through;
	margin-left: 80px;
	margin-bottom: 13px;
}

.catalog-item .price {
	width: 120px;
	padding: 11px 20px 11px 35px;
	margin-left: 43px;
	margin-bottom: 21px;
	color: #fff;
	background-color: #ee3643;
	position: relative;
}

.catalog-item .price::after {
	content: '';
	position: absolute;
	top: 0;
	right: -40px;
	width: 0;
	height: 0;
	border: 20px solid #ee3643;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}










/* brands */
.popular-brands-title {
	background-color: #f9f5f0;
	display: flex;
    align-items: center;
}

.popular-brands-title h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
    margin-right: 269px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 29px;
}

.popular-brands-title .brands-btn {
	padding: 10px 70px 10px 69px;
}

.brands-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}


/* pagination list */
.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.pagination-item {
	margin-right: 10px;
	border: 1px solid #e5e5e5;
}

.pagination-item .pagination-link-current {
	background-color: #ee3643;
	color: #fff;
}

.pagination-link{
	font-family: 'PT-Sans', 'Arial', sanf-serif;
	font-size: 13px;
	line-height: 18px;
	display: block;
	text-transform: uppercase;
	color: #000;
}

/* ABOUT PERFORATORS */
.perforator-about-wrapper {
	background-color: #f2f6f8;
}

.perforator-about {
	padding-top: 67px;
	padding-bottom: 73px;
}

.perforator-about h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 35px;
}

.perforator-about p {
	margin: 0;
}

/* DELIVERY */
.delivery {
	background-color: #f4f8f9;
}

.services-title {

}

.delivery-advantage p {
	margin: 0;
}

.delivery-list {
	list-style: none;
	color: #fff;
	background-color: #32425c;
}

.delivery-list a {
	color: #fff;
	font-size: 21px;
	line-height: 30px;
}

.delivery-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}

.delivery-container p {
	font-size: 13px;
	line-height: 24px;
}


/* INFORMATION */
.services-title,
.information-title,
.contacts-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.information {
	margin-bottom: 86px;
}

.information-row {
	display: flex;
	align-items: top;
	justify-content: space-between;
}

.information-review {
	width: 520px;
}

.information p {
	font-size: 13px;
	line-height: 24px;
}

.collaboration {
	list-style: none;
	padding: 0;
	margin: 0;
}

.collaboration li {
	font-size: 18px;
	line-height: 20px;
}

.contacts {
	width: 300px;
}

/* Red buttons */
.about-company,
.write-us,
.brands-btn,
.popular-products-btn {
	background-color: #ee3643;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.about-company:hover,
.write-us:hover,
.brands-btn:hover,
.popular-products-btn:hover {
 	background-color: #ca2c37;
 }

.about-company:active,
.write-us:active,
.brands-btn:active,
.popular-product-btn:active {
 	background-color: #ba2732;
 }

.about-company:focus,
.write-us:focus,
.brands-btn:focus,
.popular-products-btn:focus {
 	background-color: #ba2732;
 	outline: none;
 }


/* FOOTER */

.footer {
	width: 100%;
}

.footer-top {
	background-color: #32425c;
}

.footer-top-row {
	display: flex;
}

.footer-contact {
	width: 322px;
	margin-right: 10px;
	margin-bottom: 53px;
}

.footer-logo-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 68px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
	margin-bottom: 32px;
}

.footer-logo-link:hover {
	background-color: #ca2c37;
}

.footer-logo:active {
	background-color: #ba2732;
}

.footer-top p {
	margin: 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

.footer-phone {
	color: #fff;
}

.footer-navigation-items {
	display: flex;
	flex-direction: column;
	margin-top: 42px;
	margin-left: auto;
}

.footer-navigation,
.footer-offers {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 550px;
}

.footer-navigation {
	margin-bottom: 45px;
}

.footer-navigation a,
.footer-offers a {
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
}

.footer-navigation a {
	color: #fff;
}

.footer-navigation a:hover {
	text-decoration: underline;
}

.footer-navigation a:focus {
	outline: none;
	color: #fff;
	opacity: 0.5;
}

.footer-navigation a:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer-offers a {
	color: #ffd180;
}

.footer-offers li:nth-child(1) {
	padding-left: 25px;
}

.footer-offers a:hover {
	text-decoration: underline;
}

.footer-offers a:focus {
	outline: none;
	color: #ffd180;
	opacity: 0.5;
}

.footer-offers a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.footer-bottom {
	background-color: #293449;
	padding-top: 39px;
	padding-bottom: 35px;
}

.footer-bottom-row {
	display: flex;
}

.copyright {
	width: 240px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	margin-right: 162px;
}

/* social */
.footer-social {
	display: flex;
	flex-wrap: wrap;
	width: 140px;
	list-style: none;
	margin: 0;
	margin-right: 119px;
	padding: 0;
}

.footer-social li {
	display: flex;
	margin-right: 4px;
	border-radius: 50%;
}

.footer-social li:last-child {
	margin-right: 0;
}

.btn-social {
	background-color: #212a3a;
	width: 42px;
	height: 42px;
	position: relative;
	border-radius: 50%;
}

.btn-social::before {
	position: absolute;
	content: '';
	display: block;
	width: 42px;
	height: 42px;
	top: 50%;
	transform: translateY(-50%);
}

.btn-social-vk::before {
	background-image: url('../img/icons/vk-icon.svg');
	background-repeat: no-repeat;
	width: 26px;
	height: 15px;
	left: 8px;
}

.btn-social-fb::before {
	background-image: url('../img/icons/fb-icon.svg');
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
	left: 15px;
}

.btn-social-i::before {
	background-image: url('../img/icons/insta-icon.svg');
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
	left: 10px;
}

.btn-social:hover,
.btn-social:active {
	background-color: #ee3643;
}

.btn-social:focus {
	outline: none;
	background-color: #ee3643;
}


/* feedback */

.feedback,
.designed-by {
	width: 140px;
	color: #fff;
	margin: 0;
}

.feedback a,
.designed-by a {
	color: #ffd180;
}

.feedback {
	font-size: 16px;
	line-height: 18px;
	width: 135px;
	margin-right: 53px;
}

.designed-by {
	font-size: 16px;
	line-height: 18px;
	width: 96px;
}

.designed-by a:hover,
.feedback a:hover {
	color: #ffd180;
	text-decoration: underline;
}

.designed-by a:active,
.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}

.designed-by a:focus,
.feedback a:focus {
	color: #ee3643;
	outline: none;
}

/* modal */
.modal {
	display: none;
}











