/* Cuprum normal */

@font-face {
	font-family: 'Cuprum';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/cuprum.woff2') format('woff2'),
	     url('../fonts/cuprum.woff') format('woff');
}

/* Cuprum bold */

@font-face {
	font-family: 'Cuprum';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/cuprumbold.woff2') format('woff2'),
	     url('../fonts/cuprumbold.woff') format('woff');
}

/* Cuprum bold italic */

@font-face {
	font-family: 'Cuprum';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
	     url('../fonts/cuprumbolditalic.woff') format('woff');
}

/* Cuprum italic */
@font-face {
	font-family: 'Cuprum';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('../fonts/cuprumitalic.woff2') format('woff2'),
	     url('../fonts/cuprumitalic.woff') format('woff');
}

/* Pt Sans normal  */
@font-face {
	font-family: 'PT Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/ptsans.woff2') format('woff2'),
	     url('../fonts/ptsans.woff') format('woff');
}

/* Pt Sans bold  */
@font-face {
	font-family: 'PT Sans';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/ptsansbold.woff2') format('woff2'),
	     url('../fonts/ptsansbold.woff') format('woff');
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
	background-color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header */
.main-header {
	background-color: #f3f7f8;
	width: 100%;
	padding-bottom: 60px;
}

.header-top-wrapper {
	background-color: #293449;
	margin-bottom: 46px;
	min-height: 42px;
}

.header-top-row {
	display: flex;
	align-items: flex-start;
}

.header-logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 42px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.header-logo-link[href]:hover {
	background-color: #ca2c37;
}

.header-logo-link[href]:active {
	background-color: #ba2732;
}

.search {
	position: relative;
}

.search-input {
	width: 270px;
	height: 42px;
	padding-left: 48px;
	padding-bottom: 3px;
	background-color: #293448;
	border: none;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
}

.search-input::placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.search-input:hover ~ .search-btn .search-icon {
	fill: #fff;
}

.search-input:focus {
	background-color: #fff;
	outline: none;
	color: #000;
}

.search-input:focus ~ .search-btn .search-icon {
	fill: #ee3643;
}

.search-btn {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 1px;
	left: 4px;
	border: none;
	background-color: transparent;
	fill: rgba(255, 255, 255, 0.5);
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.search-icon {
	width: 17px;
	height: 17px;
}

.bookmark-link,
.basket-link {
	width: 150px;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	display: block;
	position: relative;
	text-align: left;
}

.bookmark-link {
	padding: 12px 12px 12px 44px;
}

.basket-link {
	padding: 12px 12px 12px 49px;
}

.basket-full {
	padding: 12px 10px 12px 49px;
	background-color: #ee3643;
}

.bookmark-link::before,
.basket-link::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 17px;
	width: 14px;
	height: 16px;
	opacity: 0.3;
}

.bookmark-link::before {
	background-image: url('../img/icons/icon-bookmark.svg');
	background-repeat: no-repeat;
}

.basket-link::before {
	background-image: url('../img/icons/icon-cart.svg');
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	left: 18px
}

/* состояния для bookmark-link & basket-link */

.bookmark-link:hover::before,
.basket-link:hover::before {
	opacity: 1;
}

.bookmark-link:hover,
.basket-link:hover {
	background-color: #212a3a;
}

.bookmark-link:active::before,
.basket-link:active::before {
	opacity: 0.5;
}

.bookmark-link:active,
.basket-link:active {
	background-color: #161d29;
}



.btn-order {
	background-color: #63a63e;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	padding: 12px 22px 12px 20px;
	margin-left: auto;
}

.btn-order:hover {
	background-color: #5fbb2d;
}

.btn-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.user-navigation-row {
	display: flex;
	align-items: flex-start;
	margin-bottom: 39px;
}

.page-title {
	width: 197px;
	margin: 0;
	margin-left: 52px;
	margin-right: 71px;
	margin-top: 3px;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: 400;
}

.navigation-contacts {
	display: flex;
	flex-direction: column;
}

.phone-number {
	position: relative;

	width: 270px;
	padding: 9px 9px 9px 71px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #fff;
	display: inline-block;
	margin-bottom: 4px;
}

.phone-number::before {
	content: '';
	position: absolute;
	display: block;
	width: 19px;
	height: 19px;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	background-image: url('../img/icons/icon-phone.svg');
	background-repeat: no-repeat;
}

.address {
	width: 250px;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-left: 10px;
}

.user-link {
	color: #000;
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	text-align: center;
}

.login-link {
	position: relative;
	margin-left: auto;
	padding: 12px 10px 12px 47px;
	text-align: left;
	width: 121px;
}

.login-link::before {
	content: '';
	position: absolute;
	display: block;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url('../img/icons/icon-login.svg');
	opacity: 0.2;
}

/* Состояния для login-link & registration-link */
.login-link:hover::before {
	opacity: 1;
}

.user-link:hover {
	color: #ee3643;
}

.login-link:active::before {
	opacity: 0.3;
}

.user-link:active {
	color: rgba(0, 0, 0, 0.3);
}
/* --------------------------------- */


.registration-link {
	width: 150px;
	margin-left: 10px;
	padding: 12px 10px;
}

.person-container {
	margin-left: auto;
}

.person-link {
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	color: #000;
	padding: 12px 66px 12px 47px;
	width: 300px;
	display: block;
	position: relative;
}


.person-link::before,
.person-link::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    background-repeat: no-repeat;
    width: 20px;
    opacity: 0.2;
}

.person-link::before {
	left: 13px;
	background-image: url('../img/icons/icon-user.svg');
	height: 18px;
}

.person-link::after {
	right: 11px;
	background-image: url('../img/icons/icon-logout.svg');
	height: 17px;
}


/* Состояния для login-link & registration-link */
.person-link:hover::before,
.person-link:hover::after {
	opacity: 1;
}

.person-link:active {
	opacity: 0.3;
}

.person-link:active {
	color: rgba(0, 0, 0, 0.3);
}
/* --------------------------------- */



.order-link {
	margin-left: 18px;
	margin-right: 18px;
	position: relative;
}

.order-link::after {
	content: '';
	display: block;
	width: 4px;
	height: 5px;
	position: absolute;
	top: 50%;
	right: -19px;
	transform: translateY(-50%);
	background-image: url('../img/icons/icon-dot.png');
	background-repeat: no-repeat;
}

.parlour-link {
	margin-left: 11px;
}

.order-link,
.parlour-link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
}

.order-link:hover,
.parlour-link:hover {
	color: #ee3643;
}

.order-link:focus,
.parlour-link:focus {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.order-link:active,
.parlour-link:active {
	color: rgba(0, 0, 0, 0.3);
}


.site-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #32425c;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	color: #fff;
	display: block;
	padding: 20px 31px 23px 31px;
	font-size: 17px;
	line-height: 17px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.site-navigation a:focus {
	background-color: #1d2739;
}

/* MAIN */

.main {
	padding-top: 59px;
	padding-bottom: 86px;
}

/* offers */
.offers {
	font-size: 0;
	margin-bottom: 53px;
}

.offers-card {
	display: inline-block;
	width: 300px;
	height: 123px;
	background-color: #000;
	margin-right: 20px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}

.offers-card:active {
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.offers-card-material {
	background-color: #ffbf47;
	background-image: url('../img/icons/icon-materials.svg');
	background-position: 213px 31px;
	background-size: 44px 65px;
	position: relative;
}

.offers-card-material::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 59px;
	background-image: url('../img/new flag.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offers-card-tools {
	background-color: #3bbce3;
	background-image: url('../img/icons/icon-instruments.svg');
	background-position: 197px 33px;
	background-size: 75px 61px;
}

.offers-card-technique {
	background-color: #dc91d8;
	background-image: url('../img/icons/icon-equipment.svg');
	background-position: 191px 31px;
	background-size: 78px 61px;
	margin-right: 0;
}

.offers-card-sale {
	background-color: #8ed78f;
	background-image: url('../img/icons/icon-discounts.svg');
	background-position: 196px 26px;
	background-size: 59px 72px;
	margin-right: 0;
}

.offers-card-delivery {
	background-color: #ffc047;
	background-image: url('../img/icons/icon-delivery.svg');
	background-position: 191px 32px;
	background-size: 78px 63px;
	margin: 0;
}

.offers-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	margin: 0;
	padding-top: 21px;
	padding-left: 22px;
}

.offers-btn {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	margin-left: 25px;
    margin-top: 12px;
	min-width: 135px;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
}

.offers-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.offers-btn:active,
.offers-btn:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

/*slider */
.slider {
	width: 620px;
	height: 266px;
	margin-right: 20px;
	float: left;
	position: relative;
	background-color: gold;
}

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-item {
	flex-direction: column;
	width: 620px;
	height: 266px;
	padding: 23px 20px 22px 24px;
	background-image: url('../img/slider_image_2.jpg');
	display: none;
}

.slider-item-current {
	display: flex;
	background-image: url('../img/slider_image_1.jpg');
}

.slide-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 2px;
	color: #fff;
}

.slider-text {
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	color: #fff;
}

.slider-link {
	width: 195px;
	margin-top: auto;
	color: #fff;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 10px 10px;
	text-transform: uppercase;
}

.slider-link:hover {
	background-color: #ca2c37;
}

.slider-link:active,
.slider-link:focus {
	background-color: #ba2732;
}

.slider-prev,
.slider-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 22px;
	height: 40px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	border: none;
	padding: 0;
	cursor: pointer;
}

.slider-prev {
	background-image: url('../img/icons/icon-left.svg');
	left: 25px;
}

.slider-next {
	background-image: url('../img/icons/icon-right.svg');
	right: 20px;
}

.slider-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 26px;
	left: 51%;
	transform: translateX(-52%);
	text-align: center;
}

.slider-dot-current {
	background-color: #ee3643;
}

.slider-dot {
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 0;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
}

/* BREADCRUMBS */
.breadcrumbs {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs-item {
	font-family: 'PT Sans', 'Arial', sans-serif;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs-home {
	margin-right: 23px;
	width: 14px;
	height: 12px;
	background-image: url('../img/icons/icon-home.svg');
	position: relative;
}

.breadcrumbs-home::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -23px;
	width: 8px;
	height: 12px;
	background-image: url('../img/icons/icon-right-small.svg');
}

.breadcrumbs-catalog {
	margin-right: 24px;
	margin-left: 18px;
	position: relative;
}

.breadcrumbs-catalog::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -23px;
	width: 8px;
	height: 12px;
	background-image: url('../img/icons/icon-right-small.svg');
}

.breadcrumbs-tool {
	margin-right: 26px;
	margin-left: 15px;
	position: relative;
}

.breadcrumbs-tool::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -26px;
	width: 8px;
	height: 12px;
	background-image: url('../img/icons/icon-right-small.svg');
}

.breadcrumbs-perforator {
	margin-left: 17px;
}


.breadcrumbs a,
.breadcrumbs-current {
	color: #000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.main-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	background-color: #f2f6f8;
	text-transform: uppercase;
	margin-top: 20px;
	display: flex;
	padding: 30px 0 29px 30px;
}


/* FILTER */

.main-filter-row {
	display: flex;
}

.filters {
	width: 220px;
	margin-right: 20px;
	margin-top: 20px;
}

.filter-title {
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	display: block;
	font-size: 13px;
	line-height: 18px;
	background-color: #f7f3ec;
	padding: 10px 0 10px 18px;
	margin-bottom: 0;
}

.filter-item {
	margin-top: 15px;
}

.filter-item-title {
	margin: 0;
}

.range-controls {
	position: relative;
	width: 220px;
	height: 80px;
	margin-top: 20px;
	margin-bottom: 9px;
	background-color: #f7f3ec;
	border-radius: 3px;
	padding: 39px 20px;
}

.range-scale {
	height: 2px;
	width: 180px;
	background-color: #d7dcde;
}

.bar {
	width: 160px;
	height: 2px;
	background-color: #00ca74;
}

.range-toggle {
	position: absolute;
	top: 30px;
	left: 0;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
}

.range-toggle::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
}

.range-toggle::after {
	content: '';
	position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border-radius: 50%;
}

.range-toggle-min {
	left: 20px;
}

.range-toggle-max {
	left: 160px;
}




.price-controls {
	display: flex;
}

.price-controls label {
	width: 95px;
	font-size: 17px;
}
 
.price-controls .range-input {
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #000;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	width: 95px;
	padding-top: 12px;
	padding-bottom: 12px;

}



fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.brands-list,
.power-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.brands-list label,
.power-list label {
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
}


.filter-option {
	padding-left: 34px;
	margin-bottom: 17px;
}

.filter-option label {
	user-select: none;
	display: block;
	position: relative;
	cursor: pointer;
}

.filter-input-checkbox + label::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 23px;
	height: 23px;
	border: 2px solid #c5c5c5;
	border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 27px;
	height: 23px;
	background-image: url('../img/icons/checkbox-on.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio + label::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	border: 3px solid #c5c5c5;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: '';
	position: absolute;
	top: 50%;
	left: -27px;
	transform: translateY(-50%);
	width: 9px;
	height: 9px;
	background-color: #c5c5c5;
	border-radius: 50%;
}

.filter-input:disabled + label {
	color: #000;
	opacity: 0.5;
}

.btn-show {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	padding: 10px 39px 9px 39px;
	width: 140px;
	margin-top: 75px;
	cursor: pointer;
}

/* PRODUCT LIST */
.catalog-items {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	width: 220px;
	min-height: 318px;
	border: 1px solid #e5e5e5;
	margin-right: 20px;

	position: relative;
}

.catalog-item:hover {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:nth-of-type(3n) {
	margin-right: 0;
}

.catalog-item-actions {
	display: none;
}

.catalog-item:hover .catalog-item-actions {
	display: block;
}

.catalog-item-flag {
	background: url('../img/new flag.png') no-repeat 0 0;
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 59px;
	text-indent: -1000px;
	overflow: hidden;
}

.catalog-item-actions {
	width: 135px;
	position: absolute;
	top: 44px;
	left: 41px;
}

.catalog-item-buy,
.catalog-item-bookmarks {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	width: 135px;
}

.catalog-item-buy {
	color: #fff;
	background-color: #63a63e;
	margin-bottom: 7px;
	padding: 10px 49px 10px 45px;
	position: relative;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.catalog-item-buy:hover {
	background-color: #5fbb2d;
}

.catalog-item-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item-buy:focus {
	background-color: #518534;
}

.catalog-item-buy::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background: url('../img/icons/icon-cart.svg') no-repeat 0 0;
}

.catalog-item-bookmarks {
	color: #32425c;
	background-color: #fff;
	border: 3px solid #63a63e;
	width: 135px;
	padding: 7px 25px 7px 36px;
}

.catalog-item-bookmarks:hover {
	border-color: #32425c;
}

.catalog-item-bookmarks:active,
.catalog-item-bookmarks:focus {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.catalog-item-bookmarks:focus {
	outline: none;
}

.catalog-item-image {
	width: 218px;
	height: 170px;
	margin-bottom: 8px;
}

.catalog-item-image img {
	max-width: 100%;
}

.catalog-item-title {
	margin: 0;
	width: 157px;
	margin-bottom: 12px;
	margin-left: 30px;
	min-height: 29px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.catalog-item-discount,
.catalog-item-price {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.catalog-item-discount {
	color: #999;
	text-decoration: line-through;
	margin-left: 78px;
	margin-bottom: 8px;
	min-height: 18px;
}

.catalog-item-price {
	width: 120px;
	padding: 11px 20px 11px 35px;
	margin-left: 42px;
	margin-bottom: 21px;
	color: #fff;
	background-color: #ee3643;
	position: relative;
}

.catalog-item-price::after {
	content: '';
	position: absolute;
	top: 0;
	right: -40px;
	width: 0;
	height: 0;
	border: 20px solid #ee3643;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* POPULAR PRODUCTS */

.popular-products-title,
.popular-brands-title {
	background-color: #f9f5f0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 24px 25px 30px;
}

.popular-products h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
}

.popular-products-btn {
	padding: 10px 55px;

}

.popular-products-items {
	display: flex;
	margin-bottom: 20px;
}

.popular-products-items .catalog-item {
	margin-right: 20px;
}

.popular-products-items .catalog-item:nth-child(4n) {
	margin-right: 0;
}

/* SORTING */
.product-list-column {
	width: 700px;
	margin-top: 20px;
}

.sorting {
	width: 700px;
	background-color: #f7f3ec;
	display: flex;
}

.sorting-title {
	text-transform: uppercase;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 10px auto 10px 19px;
}

.sorting-list {
	width: 460px;
	list-style: none;
	font-family: 'PT Sans', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	margin: 7px 0 7px 0;
}

.by-price {
	color: #ee3643;
	margin-right: 71px;
}

.by-type {
	margin-right: 65px;
}

.by-functionality {
	margin-right: 46px;
}

.by-type,
.by-functionality {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
}

.by-price,
.by-type,
.by-functionality {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	display: block;

}

/* brands */

.popular-products-title {
	margin-bottom: 21px;
}
.popular-brands-title {
	background-color: #f9f5f0;
	display: flex;
    align-items: center;
}

.popular-brands-title h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
}

.popular-brands-title .brands-btn {
	padding: 10px 70px 10px 69px;
}

.brands-items {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 940px;
	margin-bottom: 85px;
}

.brands-item {
	width: 220px;
	margin-right: 20px;
	margin-top: 20px;
}

.brands-item:nth-child(4n) {
	margin-right: 0;
}

.brands-item a {
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brands-item a:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item a:active {
	box-shadow: 4px 4px 10px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

/* pagination list */
.pagination-list {
	list-style: none;
	margin: 0;
	margin-top: 52px;
	margin-bottom: 60px;
	padding: 0;
	display: flex;
}

.pagination-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PT-Sans', 'Arial', sanf-serif;
	font-size: 13px;
	line-height: 18px;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
	width: 38px;
	height: 38px;
	text-transform: uppercase;
	color: #000;
}

.pagination-link-current {
	background-color: #ee3643;
	color: #fff;
}

.pagination-item:last-child .pagination-link {
	margin-right: 0;
	width: 140px;
}

/* ABOUT PERFORATORS */
.perforator-about-wrapper {
	background-color: #f2f6f8;
}

.perforator-about {
	padding-top: 67px;
	padding-bottom: 73px;
}

.perforator-about h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 35px;
}

.perforator-about p {
	margin: 0;
}








/* DELIVERY */
.services {
	background-color: #f4f8f9;
	padding-top: 65px;
	padding-bottom: 99px;
}

.services-advantage {
	width: 423px;
	margin-bottom: 68px;
}

.services-title {
	margin: 0;
	margin-bottom: 26px;
}

.services-advantage p {
	margin: 0;
	width: 398px;
	font-family: 'PTSans-Regular', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services-container {
	display: flex;
	position: relative;
}

.services-controls {
	color: #fff;
	width: 240px;
	margin-right: 81px;
}

.services-control {
	width: 240px;
	color: #fff;
	font-size: 21px;
	line-height: 30px;
	display: block;
	padding: 16px 23px;
	background-color: #32425c;
	border: none;
	cursor: pointer;
	text-align: left;
}

.services-control:hover {
	background-color: #293449;
}

.services-control:active {
	background-color: #fff;
	color: #32425c;
}

.services-control:focus {
	outline: none;
	background-color: #fff;
	color: #32425c;
}


/* delivery-slider */
.delivery-slider {
	display: flex;
	display: row;
	width: 620px;
}

.delivery-slider-content {
	display: flex;
	flex-direction: column;
	width: 275px;
}

.delivery-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Cuprum', 'Arial', sans-serif;
}

.delivery-slider-content p {
	font-family: 'PTSans-Regular', 'Arial', sans-serif;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	width: 275px;
}

.delivery-img {
	width: 468px;
	height: 261px;
	position: absolute;
	top: 24px;
	right: 1px;
}

/* warranty slidery */
.warranty-slider {
	display: flex;
	display: row;
	width: 620px;
}

.warranty-slider-content {
	display: flex;
	flex-direction: column;
	width: 379px;
}

.warranty-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Cuprum', 'Arial', sans-serif;
}

.warranty-slider-content p {
	font-family: 'PTSans-Regular', 'Arial', sans-serif;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	width: 379px;
}

.warranty-img {
	width: 389px;
	height: 283px;
	position: absolute;
	top: 0;
	right: 0;
}

/* credit slider */
.credit-slider {
	display: flex;
	display: row;
	width: 620px;
}

.credit-slider-content {
	display: flex;
	flex-direction: column;
	width: 279px;
}

.credit-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 24px;
	font-family: 'Cuprum', 'Arial', sans-serif;
}

.credit-slider-content p {
	font-family: 'PTSans-Regular', 'Arial', sans-serif;
	margin: 0;
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 24px;
	width: 279px;
}

.credit-btn {
	width: 195px;
	padding: 10px 44px;
}


.credit-img {
	width: 465px;
	height: 285px;
	position: absolute;
	top: 0;
	right: 0;
}



.delivery-slider {
	display: ;
}

.warranty-slider {
	display: none;
}

.credit-slider {
	display: none;
}




/* INFORMATION */
.services-title,
.information-title,
.contacts-title {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.information {
	padding-top: 82px;
}

.information-row {
	display: flex;
	align-items: top;
	justify-content: space-between;
}

.information-review {
	width: 519px;
}

.information-title {
	margin: 0;
	margin-bottom: 24px;
}

.information p {
	font-family: 'PTSans-Regular', 'Arial', sans-serif;
	margin: 0;
	margin-bottom: 21px;
}

.information p:nth-of-type(2) {
	margin-bottom: 25px;
}

.collaboration {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 36px;
}

.collaboration li {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
	padding-left: 37px;

	position: relative;
}

.collaboration li:last-child {
	margin-bottom: 0;
}

.collaboration li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.about-company {
	display: inline-block;
	padding: 10px 40px 10px 41px;
}

/* contacts */ 
.contacts {
	width: 300px;
}

.contacts-title {
	margin: 0;
	margin-bottom: 24px;
}

.contacts p {
	margin-bottom: 31px;
}

.map-location {
	margin-bottom: 33px;
}

.write-us {
	display: inline-block;
	padding: 10px 59px 10px 63px;
}

/* Red buttons */

.btn {
	background-color: #ee3643;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}



.btn:hover {
 	background-color: #ca2c37;
 }

.btn:active {
 	background-color: #ba2732;
 }

.btn:focus {
 	background-color: #ba2732;
 	outline: none;
 }


/* FOOTER */

.footer {
	width: 100%;
}

.footer-top {
	background-color: #32425c;
}

.footer-top-row {
	display: flex;
}

.footer-contact {
	width: 326px;
	margin-right: 10px;
	margin-bottom: 53px;
}

.footer-logo-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 60px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
	margin-bottom: 35px;
}

.footer-logo-link:hover {
	background-color: #ca2c37;
}

.footer-logo:active {
	background-color: #ba2732;
}

.footer-top p {
	margin: 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin-left: 5px;
}

.footer-phone {
	color: #fff;
}

.footer-navigation-items {
	display: flex;
	flex-direction: column;
	margin-top: 38px;
	margin-left: auto;
}

.footer-navigation,
.footer-offers {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 550px;
}

.footer-navigation {
	margin-bottom: 34px;
}

.footer-navigation a,
.footer-offers a {
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
}

.footer-navigation a {
	color: #fff;
}

.footer-navigation a:hover {
	text-decoration: underline;
}

.footer-navigation a:focus {
	outline: none;
	color: #fff;
	opacity: 0.5;
}

.footer-navigation a:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer-offers a {
	color: #ffd180;
}

.footer-offers li:nth-child(1) {
	padding-left: 25px;
}

.footer-offers a:hover {
	text-decoration: underline;
}

.footer-offers a:focus {
	outline: none;
	color: #ffd180;
	opacity: 0.5;
}

.footer-offers a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.footer-bottom {
	background-color: #293449;
	min-height: 107px;
	padding-top: 33px;
	padding-bottom: 35px;
}

.footer-bottom-row {
	display: flex;
}

.copyright {
	width: 240px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	margin-right: 150px;
}

/* social */
.footer-social {
	display: flex;
	flex-wrap: wrap;
	width: 140px;
	list-style: none;
	margin: 0;
	margin-right: 112px;
	padding: 0;
}

.footer-social li {
	margin-right: 4px;
}

.footer-social li:last-child {
	margin-right: 0;
}

.btn-social {
	display: block;
	background-color: #212a3a;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}


.btn-social-vk {
	background-image: url('../img/icons/vk-icon.svg');
	background-size: 26px 15px;
	background-position: 8px 11px;
}

.btn-social-fb {
	background-image: url('../img/icons/fb-icon.svg');
	background-size: 12px 22px;
	background-position: 14px 8px;
}

.btn-social-i {
	background-image: url('../img/icons/insta-icon.svg');
	background-size: 21px 21px;
	background-position: 8px 8px;
}

.btn-social {
	background-position: 50%;
}

.btn-social:hover,
.btn-social:active {
	background-color: #ee3643;
}

.btn-social:focus {
	background-color: #ee3643;
}


/* feedback */

.feedback,
.designed-by {
	width: 140px;
	color: #fff;
	margin: 0;
}

.feedback a,
.designed-by a {
	color: #ffd180;
}

.feedback {
	font-size: 16px;
	line-height: 18px;
	width: 135px;
	margin-right: 53px;
}

.designed-by {
	font-size: 16px;
	line-height: 18px;
	width: 96px;
}

.designed-by a:hover,
.feedback a:hover {
	color: #ffd180;
	text-decoration: underline;
}

.designed-by a:active,
.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}

.designed-by a:focus,
.feedback a:focus {
	color: #ee3643;
	outline: none;
}

/* modal */
.modal {
	position: fixed;
	z-index: 10;
	left: 50%;
	top: 50%;

	display: none;
}

/* modal feedback */
.modal-feedback {
	margin-top: -215px;
	margin-left: -310px;
	width: 620px;
	box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.feedback-form {
	width: 620px;
	border-top: 7px solid #ff5358;
}

.feedback-form-main {
	display: flex;
	flex-wrap: wrap;
	width: 460px;
	margin: 48px 80px 0 80px;
}


.feedback-name-item {
	margin: 0;
	margin-right: 20px;
	width: 220px;
}

.feedback-email-item {
	margin: 0;
	width: 220px;
}

.feedback-message-item {
	margin: 0;
	margin-top: 22px;
	margin-bottom: 37px;
	flex-grow: 1;
}


.feedback-name-item label,
.feedback-email-item label,
.feedback-message-item label {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 18px;
}

.feedback-name-item input[type="text"],
.feedback-email-item input[type="email"],
.feedback-message-item textarea[name="message"] {
	box-sizing: border-box;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999;
	border: 2px solid #d7dcde;
	margin-top: 13px;
}

.feedback-name-item input[type="text"],
.feedback-email-item input[type="email"] {
	width: 220px;
	padding: 8px 16px 8px 16px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	border-color: #b5b5b5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
	border-color: #ee3643;
	outline: none;
}

.feedback-message-item textarea[name="message"] {
	width: 460px;
	height: 114px;
	padding: 13px 16px 13px 16px;
	resize: vertical;
}

.btn-send-background {
	background-color: #f4f4f4;
	padding: 37px 80px;
}

.btn-send {
	font-family: inherit;
	color: #fff;
	background-color: #ee3643;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

.btn-send:hover {
	background-color: #ca2c37;
}

.btn-send:active,
.btn-send:focus {
	background-color: #ba2732;
}

/* modal map */
.modal-map {
	width: 940px;
	height: 446px;
	box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
	margin-top: -223px;
	margin-left: -470px;
}

/* modal card */
.modal-card {
	width: 620px;
	height: 282px;
	border-top: 7px solid #ee3643;
	margin-top: -140px;
	margin-left: -310px;
	box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-main {
	background-color: #fff;
}

.modal-card span {
	font-size: 30px;
	line-height: 30px;
	display: block;
	padding: 75px 0 68px 179px;
	position: relative;
}

.modal-card span::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 81px;
	transform: translateY(-50%);
	width: 66px;
	height: 66px;
	background: url('../img/icons/icon-mark.svg');
}


.modal-background {
	background-color: #f1f1f1;
	padding: 37px 80px;
	display: flex;
	align-items: center;
}

.btn-checkout,
.btn-continue-shopping {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	width: 220px;
}

.btn-checkout {
	background-color: #ee3643;
	color: #fff;
	padding: 10px 0 10px 0;
	margin-right: 20px;
}

.btn-checkout:hover {
	background-color: #ca2c37;
}

.btn-checkout:active {
	background-color: #ba2732;
}

.btn-continue-shopping {
	background-color: #fff;
	border: none;
	padding: 10px 0 10px 0;
	cursor: pointer;
	outline: none;
}

/* modal close */
.modal-close {
	position: absolute;
	width: 21px;
	height: 21px;
	border: 0;
	font-size: 0;
	top: 9px;
	right: 9px;
	cursor: pointer;
	background-color: transparent;
}

.modal-close::before,
.modal-close::after {
	content: '';
	position: absolute;
	top: 9px;
	right: 0;
	width: 21px;
	height: 3px;
	background-color: #ee3643;
}

.modal-feedback .modal-close {
	top: 16px;
	right: 9px;
}

.modal-feedback .modal-close::before,
.modal-feedback .modal-close::after {
	top: 9px;
	right: 0;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}




