/* Cuprum normal */

@font-face {
	font-family: 'Cuprum';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/cuprum.woff2') format('woff2'),
	     url('../fonts/cuprum.woff') format('woff');
}

/* Cuprum bold */

@font-face {
	font-family: 'Cuprum';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/cuprumbold.woff2') format('woff2'),
	     url('../fonts/cuprumbold.woff') format('woff');
}

/* Cuprum bold italic */

@font-face {
	font-family: 'Cuprum';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
	     url('../fonts/cuprumbolditalic.woff') format('woff');
}

/* Cuprum italic */
@font-face {
	font-family: 'Cuprum';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('../fonts/cuprumitalic.woff2') format('woff2'),
	     url('../fonts/cuprumitalic.woff') format('woff');
}

/* Pt Sans normal  */
@font-face {
	font-family: 'PT Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/ptsans.woff2') format('woff2'),
	     url('../fonts/ptsans.woff') format('woff');
}

/* Pt Sans bold  */
@font-face {
	font-family: 'PT Sans';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/ptsansbold.woff2') format('woff2'),
	     url('../fonts/ptsansbold.woff') format('woff');
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
	background-color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header */
.main-header {
	background-color: #f3f7f8;
	width: 100%;
}

.header-top-wrapper {
	background-color: #293449;
	margin-bottom: 46px;
	min-height: 42px;
}

.header-top-row {
	display: flex;
	align-items: flex-start;
}

.header-logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 42px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.header-logo-link:hover {
	background-color: #ca2c37;
}

.header-logo-link:active {
	background-color: #ba2732;
}

.search {
	position: relative;
}

.search-input {
	width: 270px;
	height: 42px;
	padding-left: 49px;
	background-color: #293448;
	border: none;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
}

.search-input::placeholder {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.search-input:hover ~ .search-btn .search-icon {
	fill: #fff;
}

.search-input:focus {
	background-color: #fff;
	outline: none;
	color: #000;
}

.search-input:focus ~ .search-btn .search-icon {
	fill: #ee3643;
}

.search-btn {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 0;
	left: ;
	border: none;
	background: transparent;
	fill: rgba(255, 255, 255, 0.5);
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.search-icon {
	width: 17px;
	height: 17px;

}

.bookmark-link,
.basket-link {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	display: block;
	position: relative;
	padding: 12px 0 12px 0;
	padding-left: 44px;
	text-align: left;
}

.bookmark-link::before,
.basket-link::before {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: 17px;
	width: 14px;
	height: 16px;
}

.bookmark-link::before {
	background-image: url('../img/icons/icon-bookmark.svg');
	background-repeat: no-repeat;
}

.basket-link::before {
	background-image: url('../img/icons/icon-cart.svg');
	background-repeat: no-repeat;
}

.basket-full {
	background-color: #ee3643;
}

.btn-order {
	background-color: #63a63e;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	padding: 12px 22px 12px 20px;
	margin-left: auto;
}

.btn-order:hover {
	background-color: #5fbb2d;
}

.btn-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.user-navigation-row {
	display: flex;
	align-items: flex-start;
	margin-bottom: 46px;
}

.page-title {
	width: 300px;
	margin: 0;
	margin-right: 20px;
	padding-left: 54px;
	padding-right: 51px;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: 400;
}

.navigation-contacts {
	display: flex;
	flex-direction: column;
	margin-right: 68px;
}

.phone-number {
	position: relative;

	width: 270px;
	padding: 8px 45px 7px 74px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #fff;
}

.phone-number::before {
	content: '';
	position: absolute;
	display: block;
	width: 19px;
	height: 19px;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	background-image: url('../img/icons/icon-phone.svg');
	background-repeat: no-repeat;
}

.address {
	width: 250px;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-left: 10px;
}

.user-link {
	position: relative;
	color: #000;
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	padding: 12px 32px 12px 50px;
}

.user-link::before {
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url('../img/icons/icon-login.svg');

}

.user-link:hover {
	color: #ee3643;
}

.user-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-link {
	margin-right: ;
}

.registration-link {
	color: #000;
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	margin-left: 10px;
	padding: 12px 24px 12px 24px;
}

.registration-link::before {
	background-image: none;
}

.person-link {
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	color: #000;
}

.order-link,
.parlour-link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.order-link:hover,
.parlour-link:hover {
	color: #ee3643;
}

.order-link:active,
.parlour-link:active {
	color: rgba(0, 0, 0, 0.3);
}


.site-navigation {
	display: flex;
	background-color: #32425c;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation li {

}

.site-navigation a {
	color: #fff;
	display: block;
	padding: 22px 0 26px; 0
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

/* MAIN */

/* offers */
.offers-title {
	font-weight: bold;
}


/*slider */
.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-dots {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* BREADCRUMBS */
.breadcrumbs {
	display: flex;
	align-items: center;
	font-family: 'PT Sans', 'Arial', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs a,
.breadcrumbs-current {
	color: #000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.main-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	background-color: #f2f6f8;
	text-transform: uppercase;
}

/* FILTER */
.filters {
	width: 220px;
	margin-right: 20px;
}

.main-filter-row {
	display: flex;
}

fieldset {
	border: none;
}

legend {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
}

.brands-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.brands-list label,
.power-list label {
	font-size: 15px;
	line-height: 20px;
}

.btn-show {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
}

/* SORTING */
.product-list-column {
	width: 700px;
}

.sorting {
	width: 700px;
}
.sorting-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

/* PRODUCT LIST */
.product-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;
}
.product-item {
	font-family: 'PT Sans', 'Arial', sans-serif;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	text-align: center;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.product-item:nth-child(3n) {
	margin-right: 0;
}

.product-item h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}


.product-item del,
.product-item .price {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.product-item del {
	color: #999999;
}

.product-item .price {
	background-color: #ee3643;
	color: #fff;
}


.product-item .buy-link,
.product-item .bookmarks-link {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}
.product-item .buy-link {
	color: #fff;
	background-color: #63a63e;
}

.product-item .bookmarks-link {
	color: #32425c;
	background-color: #fff;
	border: 3px solid #63a63e;
}

/* pagination list */
.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT-Sans', 'Arial', sanf-serif;
}

.pagination-item {
	margin-right: 10px;
	border: 1px solid #e5e5e5;
}

.pagination-item .pagination-link-current {
	background-color: #ee3643;
	color: #fff;
}

.pagination-link{
	display: block;
	text-transform: uppercase;
	color: #000;
}

/* ABOUT PERFORATORS */
.perforator-about-wrapper {
	background-color: #f2f6f8;
}

.perforator-about {
	padding-top: 67px;
	padding-bottom: 73px;
}

.perforator-about h2 {
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
}

.perforator-about p {
	margin: 0;
}

/* DELIVERY */
.delivery {
	background-color: #f4f8f9;
}
.delivery-advantage p {
	margin: 0;
}

.delivery-list {
	list-style: none;
	color: #fff;
	background-color: #32425c;
}

.delivery-list a {
	color: #fff;
	font-size: 21px;
	line-height: 30px;
}

.delivery-title {
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.delivery-container p {
	font-size: 13px;
	line-height: 24px;
}


/* INFORMATION */
.services-title,
.information-title,
.contacts-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.information {
	margin-bottom: 86px;
}

.information-row {
	display: flex;
	align-items: top;
	justify-content: space-between;
}

.information-review {
	width: 520px;
}

.information p {
	font-size: 13px;
	line-height: 24px;
}

.collaboration {
	list-style: none;
	padding: 0;
	margin: 0;
}

.collaboration li {
	font-size: 18px;
	line-height: 20px;
}

.contacts {
	width: 300px;
}

/* Red buttons */
.information .about-company,
.contacts .write-us,
.brands .brands-btn,
.popular-products .popular-products-btn {
	background-color: #ee3643;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

 .information .about-company:hover,
 .information .write-us:hover {
 	background-color: #ca2c37;
 }

 .information .about-company:active,
 .information .write-us:active {
 	background-color: #ba2732;
 }


/* FOOTER */

.footer {
	width: 100%;
}

.footer-top {
	background-color: #32425c;
}

.footer-top-row {
	display: flex;
}

.footer-contact {
	width: 380px;
	margin-right: 10px;
}

.footer-logo {
	background-color: #ee3643;
	color: #fff;
	border-bottom: 5px solid #b52933;
}

.footer-logo:hover {
	background-color: #ca2c37;
}

.footer-logo:active {
	background-color: #ba2732;
}

.footer-top p {
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

.footer-phone {
	color: #fff;
}

.footer-navigation,
.footer-offers {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-navigation {
	width: 550px;
}

.footer-navigation a {
	color: #fff;
}

.footer-navigation a:hover {
	text-decoration: underline;
}

.footer-navigation a:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer-offers a {
	color: #ffd180;
}

.footer-offers a:hover {
	text-decoration: underline;
}

.footer-offers a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.footer-bottom {
	background-color: #293449;
}

.footer-bottom-row {
	display: flex;
}

.copyright {
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.copyright {
	width: 230px;
}

.footer-bottom-social {
	width: 150px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn-social {
	background-color: #212a3a;
}

.feedback,
.designed-by {
	width: 140px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.feedback a,
.designed-by a {
	color: #ffd180;
}

.designed-by a:hover {
	color: #ffd180;
	text-decoration: underline;
}

.designed-by a:active {
	color: #ee3643;
	text-decoration: none;
}

.feedback a:hover {
	color: #ffd180;
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}

/* modal */
.modal {
	display: none;
}











